<html>

<head>
</head>

<link  rel="stylesheet" href = "./styles.css"></link>
<body>
        <div class="navigation">
        <a href="/">Home</a>
        <a href="/register"> Register </a>
        <a href="/signin"> Log-in </a>
        </div>
<form class = "form" method="post" action="/">
    <input  class = "inputs" type="text" name="email" placeholder="Email" value="{{email}}"/>
    <input class = "inputs" type="password" name="password" placeholder="Password"/>

    <button class = "submit" type="submit">Submit</button>
    

</form>
</body>

</html>