<html>
    <head>

     <link  rel="stylesheet" href = "./styles.css"></link>
    </head>
    <body>

        <a href="/">Home</a>
        <a href="/register"> Register </a>
        <a href="/signin"> Sign-in </a>

        <form class = "inputs" method="post" action="/signin">
            <input class = "inputs" type="text" name="name" placeholder="D'Elia Name"/>
            <input class = "inputs" type="password" name="password" placeholder="bon giorno"/>
            <button class = "submit sign-in" type="submit">Sign In</button>
          
            <h1>Ciao paisano! </h1>
               
        </form>
    </body>
</html>


